.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Button-container {
  padding: 0 20px 20px 20px;
}

.Button-container button {
  margin-right: 10px;
  width: 180px;
  height: 40px;
  font-size: 16px;
  border: none;
}

.Button-container button:nth-of-type(2) {
  width: 100px;
}

.Button-container button:nth-of-type(3) {
  width: 60px;
}

.Form-container {
  padding: 20px;
}

.Form-container form input {
  width: 220px;
  height: 40px;
  font-size: 16px;
  margin: 0 10px;
  box-sizing: border-box;
}

.Form-container form button {
  width: 60px;
  height: 40px;
  font-size: 16px;
  border: none;
}
